/*
Color Pallete:
F6F1D1 - Off White
CFD7C7 - Light Gray
70A9A1 - Tealish
40798C - Calm ocean blue
0B2027 - Dark Gray
*/

body, html{
    background-color: #F6F1D1;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

h1{
    font-size: 3rem;
    margin: 0px;
}

#root{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #0B2027;
    width: 100%;
    height: 100%;
}

#live-background{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}

.site-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px;
    width: 100vw;
    height: 100vh;
    background-color: #ee6c4d;
}

.nav-header{
    text-align: center;
}